Lib/
Scripts/
*.log
*.pot
*.pyc
__pycache__/
local_setting.py
db.sqlite3
db.sqlite3-journal
media
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delet-this-directory.txt
*.lnk
*.msp
*.msm
*.msix
*.msi
*.cab
.history
.ionide
.history/
.vscode/*
!.vscode/setting.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
